POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=apnea_db
POSTGRES_CONTAINER=apnea_postgres

TIMESCALE_HOST=127.0.0.1
TIMESCALE_PORT=5433
TIMESCALE_USER=user
TIMESCALE_PASSWORD=timescale_password
TIMESCALE_DB=apnea_ts_db
TIMESCALE_CONTAINER=apnea_timescaledb

TZ=UTC
